# CREDIT  CARD APPROVAL ANALYSIS 
Credit card approval is the process by which a credit card issuer evaluates an applicant's creditworthiness and decides whether to grant them a credit card. The approval process involves several key factors such as credit score,income or employment status,debt to income ratio,credit history just a few but to mention.
###### Importing the necessary libraries for analysis

In [115]:
dataset=pd.read_csv('cc_approvals.csv')
columns_names=['Gender','Age','Debt','Married','BankCustomer','EducationLevel','Ethnicity','YearsEmployed',
'PriorDefault','Employed','CreditScore','DriversLicense','Citizen','ZipCode','Income','ApprovalStatus']
dataset.columns=columns_names
dataset.head()

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,ApprovalStatus
0,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,00043,560,+
1,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,00280,824,+
2,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,00100,3,+
3,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+
4,b,32.08,4.000,u,g,m,v,2.50,t,f,0,t,g,00360,0,+

In [116]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [117]:
print(dataset.dtypes)

Gender             object
Age                object
Debt              float64
Married            object
BankCustomer       object
EducationLevel     object
Ethnicity          object
YearsEmployed     float64
PriorDefault       object
Employed           object
CreditScore         int64
DriversLicense     object
Citizen            object
ZipCode            object
Income              int64
ApprovalStatus     object
dtype: object

In [118]:
dataset.head()

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,ApprovalStatus
0,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,00043,560,+
1,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,00280,824,+
2,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,00100,3,+
3,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+
4,b,32.08,4.000,u,g,m,v,2.50,t,f,0,t,g,00360,0,+

In [119]:
def feature_encodeing(dataset):
    dataset['Gender'] = dataset['Gender'].map({'a' : 1, 'b' : 0, '?': ' '})
    dataset['Married'] = dataset['Married'].map({'u' : 1, 'y' : 0,'l': 2,'?': ' '})
    dataset['BankCustomer'] = dataset['BankCustomer'].map({'g' : 1, 'p' : 0,'gg': 2,'?': ' '})
    dataset['EducationLevel'] = dataset['EducationLevel'].map({'q' : 0, 'w' : 1,'m': 2,'r':3,
                                                           'cc':4,'k':5,'c':6,'x':7,'i':8,
                                                           'e':9,'aa':10,'ff':11,'j':12,'d':13,'?': 'Nan'})
    dataset['Ethnicity'] = dataset['Ethnicity'].map({'h' : 0, 'v' : 1,'bb': 2,'j':3,
                                                           'z':4,'o':5,'dd':6,'n':7,'?': ' '})
    dataset['PriorDefault'] = dataset['PriorDefault'].map({'f' : 0, 't' : 1})
    dataset['Employed'] = dataset['Employed'].map({'f' : 0, 't' : 1})
    dataset['DriversLicense'] = dataset['DriversLicense'].map({'f' : 0, 't' : 1})
    dataset['Citizen'] = dataset['Citizen'].map({'g' : 0, 's' : 1,'p':2})
    dataset['ApprovalStatus'] = dataset['ApprovalStatus'].map({'-' : 0, '+' : 1})
    
    return dataset

In [120]:
feature_encodeing(dataset)

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,ApprovalStatus
0,1,58.67,4.460,1,1,0,0,3.04,1,1,6,0,0,00043,560,1
1,1,24.50,0.500,1,1,0,0,1.50,1,0,0,0,0,00280,824,1
2,0,27.83,1.540,1,1,1,1,3.75,1,1,5,1,0,00100,3,1
3,0,20.17,5.625,1,1,1,1,1.71,1,0,0,0,1,00120,0,1
4,0,32.08,4.000,1,1,2,1,2.50,1,0,0,1,0,00360,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,0,21.08,10.085,0,0,9,0,1.25,0,0,0,0,0,00260,0,0
685,1,22.67,0.750,1,1,6,1,2.00,0,1,2,1,0,00200,394,0
686,1,25.25,13.500,0,0,11,NaN,2.00,0,1,1,1,0,00200,1,0
687,0,17.92,0.205,1,1,10,1,0.04,0,0,0,0,0,00280,750,0
688,0,35.00,3.375,1,1,6,0,8.29,0,0,0,1,0,00000,0,0

In [121]:
dataset.isnull().sum()

Gender             0
Age                0
Debt               0
Married            0
BankCustomer       0
EducationLevel     0
Ethnicity         57
YearsEmployed      0
PriorDefault       0
Employed           0
CreditScore        0
DriversLicense     0
Citizen            0
ZipCode            0
Income             0
ApprovalStatus     0
dtype: int64