In [10]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import re

In [2]:
dataset=pd.read_csv('/home/fibonacci/Documents/WELFake_Dataset.csv')

In [3]:
dataset.head()

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1

In [4]:
dataset.isnull().sum()

Unnamed: 0      0
title         558
text           39
label           0
dtype: int64

In [5]:
dataset=dataset.dropna(how='any')
dataset=dataset.drop(columns=['title','Unnamed: 0'],axis=1)

In [7]:
dataset.head()

                                                text  label
0  No comment is expected from Barack Obama Membe...      1
2   Now, most of the demonstrators gathered last ...      1
3  A dozen politically active pastors came here f...      0
4  The RS-28 Sarmat missile, dubbed Satan 2, will...      1
5  All we can say on this one is it s about time ...      1

In [32]:
def wordregularisation(x):
    x = x.lower()
    x = re.sub('\[.*?\]', '', x)
    x = re.sub("\\W", " ", x)
    x = re.sub('https?://\S+|www\.\S+', '', x)
    x = re.sub('<.*?>+', '', x)
    #x = re.sub('[%s]' % re.escape(string.punctuation), '', x)
    x = re.sub('\n', '', x)
    x = re.sub('\w*\d\w*', '', x)
    return x

dataset["text"] = dataset["text"].apply(wordregularisation)
dataset["text"] = dataset["text"].str.replace(r'\[.*?\]', '', regex=True)
x = dataset["text"]  
y = dataset["label"]  
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer
vect= TfidfVectorizer()  
x_train = vect.fit_transform(x_train)  
x_test = vect.transform(x_test)

<1x192878 sparse matrix of type '<class 'numpy.float64'>'
	with 437 stored elements in Compressed Sparse Row format>