In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
dataset=pd.read_csv('/home/fibonacci/Downloads/drug200.xls')

In [4]:
dataset.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [10]:
dataset.Cholesterol.unique()

array(['HIGH', 'NORMAL'], dtype=object)

In [6]:
dataset.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [7]:
def cleaning(dataset):
    dataset['Drug']=dataset['Drug'].apply(lambda x: 1 if x=='DrugY' else 2 if x=='drugC' else 3 if x=='drugX' else 4 if x=='drugA' else 5 if x=='drugB'  else 0)
    dataset['Sex']=dataset['Sex'].apply(lambda x:1 if x=='M' else 0 if x=='F' else x)
    dataset['BP']=dataset['BP'].apply(lambda x: 1 if x=='NORMAL' else 2 if x=='HIGH'else 0)
    dataset['Cholesterol']=dataset['Cholesterol'].apply(lambda x:1 if x=='HIGH' else 0 if x=='NORMAL' else x)
    return dataset

In [8]:
dataset=cleaning(dataset)
dataset.head()

   Age  Sex  BP Cholesterol  Na_to_K  Drug
0   23    0   2        HIGH   25.355     1
1   47    1   0        HIGH   13.093     2
2   47    1   0        HIGH   10.114     2
3   28    0   1        HIGH    7.798     3
4   61    0   0        HIGH   18.043     1

In [9]:
dataset['Drug'].unique()

array([1, 2, 3, 4, 5])